p {
    color: white; 
    background-color: rgb(212, 86, 86);
    text-align: center;
}

h1 {
    color: orange;
    background-color: palegoldenrod;
}
h1 {
    text-align: center;
}
ul {
    text-align: center;
}